= simple_form_for @article do |f|
	= f.input :title
	= f.input :titleEn
	= f.input :titleFr
	= f.input :titleCn
	= f.input :titleEs
	= f.input :titleUa
	= f.input :content
	= f.input :contentEn
	= f.input :contentFr
	= f.input :contentCn
	= f.input :contentEs
	= f.input :contentUa
	= f.submit
