%h1= @article.title
%p= @article.content

%h1= @article.titleEn
%p= @article.contentEn

%h1= @article.titleFr
%p= @article.contentFr

%h1= @article.titleCn
%p= @article.contentCn

%h1= @article.titleEs
%p= @article.contentEs

%h1= @article.titleUa
%p= @article.contentUa

= link_to "Назад", root_path